@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #16181e;
}
.movie-card {
  position: relative;
  overflow: hidden;
  border: 1px solid;
  border-radius: 10px;
}
.movie-card img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.4;
}
.movie-card-info {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 70px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}
.movie-card-info span {
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
  font-weight: 500;
  color: #d9d9d9;
}
.movie-card-bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.movie-name {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 15px;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #f9f9f9;
  background-color: rgba(0, 0, 0, 0);
}
.button-add {
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgba(228, 223, 223, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-info {
  margin-bottom: 10px;
  width: 50%;
  height: 60px;
  padding: 10px 15px;
  border-radius: 10px;
  background: #00b9ae;
  color: #16181e;
  font-size: 15px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-info:hover {
  background-color: #16181e;
  color: #00b9ae;
  transition: all ease 0.3s;
}
.button-add {
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgba(228, 223, 223, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-add:hover {
  transform: scale(1.1);
}

.button-remove {
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgba(228, 223, 223, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-remove:hover {
  transform: scale(1.1);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #00b9ae;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
